extends layout 

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                h1 Sign Up
                form(method='POST' action='/api/login/register')
                    div.form-group
                        label(for="username") Username:
                        input(
                            type="text"
                            name="username"
                            placeholder='first and last'
                        )
                    div.form-group
                        label(for="email") Email:
                        input(
                            type="email"
                            name="email"
                            placeholder='meow'
                        )
                    div.form-group
                        label(for="password") Password:
                        input(
                            type="text"
                            name="password"
                            placeholder='meowmeow'
                        )
                    button.btn.btn-primary(type='submit') Sign up
                <br>
                h4 Login
                <a href="/api/login" class="btn btn-primary">Login</a>