extends layout 

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                h1 Login 
                form(method='POST' action='/api/login/login')
                    div.form-group
                        label(for="username") Username:
                        input(
                            type="text"
                            name="username"
                            placeholder='meow'
                        )
                    div.form-group
                        label(for="password") Password:
                        input(
                            type="text"
                            name="password"
                            placeholder='meowmeow'
                        )
                    button.btn.btn-primary(type='submit') Login
                <br>
                h4 Sign Up
                <a href="/api/users" class="btn btn-primary">Sign Up</a>

