extends layout 

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                h1 Order Subscription
                form(method='POST' action='/api/order')
                    div.form-group
                        label(for="name") Name of recipient:
                        input(
                            type="text"
                            name="name"
                            placeholder='first and last'
                        )
                    div.form-group
                        label(for="address") Postal address:
                        input(
                            type="text"
                            name="address"
                            placeholder='2 moon cres, Bottomsville'
                        )
                    div.form-group
                        label(for="rolls") Select your default roll category:
                        input(
                            type="text"
                            name="rolls"
                            placeholder='storm poopers'
                        )
                    div.form-group
                        label(for="size") Select your default package size:
                        input(
                            type="text"
                            name="size"
                            placeholder='the clean snap $25'
                        )
                    div.form-group
                        label(for="price") Select your default package price:
                        input(
                            type="number"
                            name="price"
                            placeholder='the clean snap $25'
                        )
                    button.btn.btn-primary(type='submit') Submit order